@use "sass:color";
@font-face {
  font-family: atma;
  src: url("../asset/fonts/Atma-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: atma;
  src: url("../asset/fonts/Atma-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: atma;
  src: url("../asset/fonts/Atma-Bold.ttf");
  font-weight: bold;
}

$bg: #022E3C;
$white: #F3EFF5;
$accent: #3DD6D0;
$success: #97DB4F;
$fail: #FF8585;

$editor-transition: 250ms;

@mixin shadowStroke($size, $color) {
  text-shadow: $size 0 1px $color,(-$size) 0 1px $color,0 $size 1px $color,0 (-$size) 1px $color,calc($size / 2) calc($size / 2) 1px $color,calc($size * -0.5) calc($size * -0.5) 1px $color,calc($size / 2) calc($size * -0.5) 1px $color,calc($size * -0.5) calc($size / 2) 1px $color;
}

/* -------------------------------------------------------------------------- */
/*                                    RESET                                   */
/* -------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
  line-height: 1;
  appearance: none;
  background: none;
}

ol, ul { list-style: none }

textarea { resize: none }

a {
  color: unset;
  text-decoration: none;
}

select {
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
}


/* -------------------------------------------------------------------------- */
/*                                   CONTENT                                  */
/* -------------------------------------------------------------------------- */
body {
  background-color: $bg;
  color: $white;
  font-family: atma;
  font-size: 1.25rem;
  overflow-x: hidden;
  &:has(.modal.active) {
    overflow: hidden;
  }
}

.succes-bg { background-color: $success !important }
.fail-bg { background-color: $fail !important }
.succes-color { color: $success !important }
.fail-color { color: $fail !important }

.h1 { --size: 3rem }
.h2 { --size: 2.5rem }
.h3 { --size: 1.5rem }
.h4 { --size: 1.3rem }

.h1,.h2,.h3,.h4 {
  font-size: var(--size);
  font-weight: bold;
}

.left-space {
  margin-left: 1em;
}

.align-center {
  text-align: center;
}

.notification {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  z-index: 999;
  font-weight: 500;
  color: $bg;
  &.error {
    background-color: $fail;
    border: 2px solid darken($fail, 8);
  }
  &.success {
    background-color: $success;
    border: 2px solid darken($success, 8);
  }
  animation: disapear 300ms 3.5s forwards;
}

.navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 9vh;
  max-height: 3.5em;

  display: flex;
  justify-content: space-between;

  padding: 0 1em;
  
  box-shadow: 3px 4px 5px fade-out($bg, 0.5);
  background-color: fade-out($bg, 0.2);
  backdrop-filter: blur(8px);
  border-bottom: 2px solid darken($bg, 4);

  & > * {
    display: flex;
    height: 100%;
    align-items: center;
    & > * {
      margin: 0 0.25em;
    }
  }
  li {
    flex-shrink: 0;
  }
  .logo {
    height: 9vh;
    margin-right: 0.75em;
  }
  .btn {
    padding: 0.7em 1.5em;
  }
  .mobile-drop-down {
    display: none;
  }
  .drop-down {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    ul {
      position: absolute;
      top: 100%;
      left: -25%;
      display: block;
      overflow: hidden;
      width: 150%;
      padding: 0 0.5em;
      box-shadow: 3px 4px 5px fade-out($bg, 0.5);
      background-color: fade-out($bg, 0.1);
      backdrop-filter: blur(8px);
      border: 2px solid darken($bg, 4);
      
      opacity: 0;
      height: 0%;
      transition: opacity 0ms linear 200ms, height 200ms ease-in-out 0ms;
      li {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 100%;
        padding: 0 5%;
      }
    }
    .fa-angle-down { transition: transform 200ms ease-in-out; }
    &:hover {
      ul {
        height: 200%;
        opacity: 1;
        transition: opacity 0ms linear 0ms, height 200ms ease-in-out 0ms;
      }
      .fa-angle-down { transform: rotate(180deg); }
    }
  }
}
.margin {
  height: 9vh;
  max-height: 3.5em;
}

.burger-btn {
  position: fixed;
  z-index: 11;
  top: 1em;
  right: 1rem;
  font-size: 2rem;
  display: none;
  text-shadow: 0.1em 0.1em 0.1em $bg;
  color: $white;
}

footer {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid darken($bg, 4);
  background-color: $bg;
  padding: 1em 0 2em;
  .cookie {
    width: 10rem;
    text-align: center;
  }
  .sitemap {
    h2 {
      margin-bottom: 0.5rem;
    }
  }
  .cp {
    .logo {
      width: 3em;
    }
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}

.btn {
  display: block;
  width: fit-content;
  padding: 0.8em 2em;
  background-color: $accent;
  color: $bg;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.8em;
  transition: 200ms;
  &:hover { transform: scale(1.05) }
}

.link {
  color: $accent;
  font-weight: 500;
  text-shadow: 0.1em 0.1em 0.1em darken($bg, 3);
  transition: transform 200ms ease-in-out, color 200ms ease-in-out;
  display: inline-block;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    text-shadow: 0.15em 0.15em 0.1em darken($bg, 3);
    color: lighten($accent, 5);
  }
}

input:not([type="submit"], [type="range"], [type="select"]), textarea {
  padding: 0.1em 0.5em;
  border-radius: 0.3em;
  background-color: $white;
  color: $bg;
  font-weight: 500;
  &::placeholder {
    font-weight: 400;
    color: fade-out($bg, 0.3);
  }
  &[data-state="fail"] { border: 2px solid $fail }
  &[data-state="success"] { border: 2px solid $success }
}

.select { // select input somewhat custom style
  position: relative;
  // Custom arrow
  .fa-solid {
    position: absolute;
    top: 50%;
    right: 1em;
    font-size: 0.5em;
    transform: translateY(-50%);
    pointer-events: none;
  }
  select {
    padding: 0.8em 1em;
    margin-right: 0.8em;
  }
  color: $bg;
  background-color: $accent;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.8em;
  transition: 200ms;
  option {
    background-color: $white;
    &::selection { background-color: $accent }
  }
  &:hover { transform: scale(1.05) }
}

.tippy-box { 
  text-align: center;
  font-weight: 500;
  padding: 0.3em 0.2em;
}

.scramble { // styling for world typing animation
  position: relative;
  padding: 0 0.2em;
  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 10%;
    height: 80%;
    width: 3px;
    border-radius: 3px;
    background-color: $white;
    animation: blink 500ms linear infinite;
  }
}

#game-canvas {
    display: block;
    background-color: rgb(144, 240, 238);
    background: linear-gradient(165deg, rgb(193,255,255) 30%, rgb(61,214,208) 100%);
    &.fullscreen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      height: 100dvh;
    }
    &.windowed {
      aspect-ratio: 16/9;
      width: 100%;
      height: auto;
    }
}

.modal {
  display: none;
  &.active {
    display: block;
  }
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  backdrop-filter: blur(3px);
  background-color: fade-out($bg, 0.5);
  & > *:not(.close) {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1em;

    border: 2px solid darken($bg, 4);
    border-radius: 0.5em;

    box-shadow: 3px 4px 5px fade-out($bg, 0.5);
    background-color: fade-out($bg, 0.2);
    backdrop-filter: blur(8px);
  }
  .close {
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: $white;
    text-shadow: 2px 2px 4px $bg;
    cursor: pointer;
  }
}

.form-modal {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  .btn {
    align-self: center;
  }
  input {
    margin-bottom: 0.5em;
  }
  .h1 {
    text-align: center;
  }
}

.return {
  position: fixed;
  left: 1rem;
  top: 1rem;
  z-index: 99;
  font-size: 2.3rem;
  text-shadow: -0.15em -0.1em 0.25em $bg;
  i {
    -webkit-text-stroke: 2px $bg;
  }
}

/* -------------------------------------------------------------------------- */
/*                                LEVEL EDITOR                                */
/* -------------------------------------------------------------------------- */
.editor-title {
  text-align: center;
  margin: 0.5em auto 0 auto;
}

.editor {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 45em;
  width: 90%;
  margin: 0 auto;
  transition: width $editor-transition ease-in-out;
  .controls {
    display: flex;
    justify-content: space-around;
  }
  .level-title {
    display: flex;
    align-items: center;
    gap: 1em;
    label { font-weight: 500 }
    input {
      width: 100%;
    }
  }
}

.modal-button {
  position: absolute;
  top: 0.5em;
  right: 1em;
  background: none;
  cursor: pointer;
  transition:$editor-transition;
}

.blocks-select {
  position: absolute;
  right: 0;
  top: 0;
  display: grid;
  gap: 1em;
  width: 18em;
  height: fit-content;
  min-height: 100%;
  padding: 2.5em 0 1em 1em;
  border-left: 2px solid darken($bg, 4);
  box-shadow: -3px 0 5px fade-out(darken($bg, 2), 0.1);
  background-color: fade-out($bg, 0.2);
  backdrop-filter: blur(8px);
  user-select: none;
  transform: translateX(100%) scaleX(0);
  transition: $editor-transition;
  .blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    img {
      width: 2.5em;
      cursor: pointer;
    }
  }
}

.modal-oppened {
  .modal-button {
    transform: rotate(-180deg);
    right: 16em;
  }
  .blocks-select {
    transform: translateX(0) scaleX(1);
  }
  .editor {
    width: calc(100% - 20em);
    margin: 0 1em 1em;
  }
}

/* -------------------------------------------------------------------------- */
/*                                LEVEL BROWSER                               */
/* -------------------------------------------------------------------------- */
.level-list { min-height: 91vh };
.level {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4em;
  padding: 0 1em;
  border-bottom: 1px solid darken($bg, 2);
  cursor: pointer;
  * {
    display: flex;
    align-items: center;
    gap: 0.3em;
  }
  .h3 {
    min-width: 11em;
  }
  & > * { gap: 1em; }
  .play { margin-left: 1em; }
  &::before {
    background: radial-gradient(
        300px circle 
        at var(--mouse-x) var(--mouse-y),
        fade-out($white, 0.95), transparent 100%
    );
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
  &:not(:has(.play:hover)):hover::before { opacity: 1; }
  .infos {
    height: 100%;
    padding: 0 1em;
  }
}

.level-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.scale {
  --pos: 0%;
  position: relative;
  width: 5em;
  border-radius: 0.2em;
  height: 0.8em;
  border: 1px solid $bg;
  background: linear-gradient(90deg, rgba(151,219,79,1) 0%, rgba(255,133,133,1) 100%);
  &.scale-point:after {
    content: "";
    position: absolute;
    top: 50%;
    left: var(--pos);
    transform: translate(-50%, -50%);
    height: 140%;
    width: 0.3em;
    background-color: $bg;
    border: 2px solid $white;
    border-radius: 0.1em;
  }
  &::-webkit-slider-thumb {
    height: 1.2em;
    width: 0.5em;
    appearance: none;
    background-color: $bg;
    border: 2px solid $white;
    border-radius: 0.1em;
  }
}

/* -------------------------------------------------------------------------- */
/*                                LEVEL DETAIL                                */
/* -------------------------------------------------------------------------- */
.level-card {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1em;
  margin: 1em auto 0;
  width: 95vw;
  min-height: 91vh;
  .h2, .h1 {
    text-align: center;
  }
  .actions {
    display: flex;
    gap: 1em;
    justify-content: center;
  }
  .btn {
    width: fit-content;
  }
  .difficulty {
    display: flex;
    flex-direction: column;
    align-items: center;
    .slider {
      display: flex;
      gap: 0.5em;
      margin: 0.5em 0 1em 0;
    }
    margin: 2em 0 2em 0;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    .btn {
      font-weight: 500;
      padding: 0.5em 1em;
    }
  }
  .infos {
    position: sticky;
    top: 10vh;
    height: fit-content;
  }
  .comments {
    width: 100%;
    .post-btn {
      margin: 1em auto 1.5em;
    }
    .comment {
      box-shadow: 3px 4px 5px fade-out($bg, 0.5);
      background-color: darken($bg, 1);
      border: 2px solid darken($bg, 4);
      padding: 0.8em 0.5em;
      border-radius: 0.5em;
      margin: 0.8em 0;
      p {
        margin-left: 1em;
      }
    }
  }
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  .btn {
    font-weight: 500;
    padding: 0.5em 1em;
  }
  textarea {
    height: 5em;
    resize: both;
    max-width: 40vw;
    max-height: 40vh;
  }
}


/* -------------------------------------------------------------------------- */
/*                                  HOME PAGE                                 */
/* -------------------------------------------------------------------------- */

.hero-container {
  &::before {
    content: "";
    display: block;
    height: 100vh;
  }
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-50%);
  h2, h1 {
    filter: drop-shadow(0.08em 0.1em 5px $bg);
    @include shadowStroke(0.25rem, $bg);
    text-align: center;
  }
  .h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: clamp(16px, 20vw, 5rem);
    column-gap: 0.2em;
    img {
      height: 3em;
    }
  }
  .h2 {
    font-size: clamp(16px, 8vw, var(--size));
    &::before { // create a variable margin top
      content: "";
      display: block;
      height: calc(10vh - 10vw);
    }
    text-align: right;
    width: fit-content;
    margin: 0 auto;
  }
  .cta {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 1em;
    filter: drop-shadow(0.08em 0.1em 5px $bg);
  }
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.video-paralax {
  position: relative;
  z-index: 2;
  min-height: 50vh;
  background-color: $bg;
  overflow-x: hidden;
  .split {
    height: 3px;
    background-color: darken($bg, 4);
  }
  section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    text-align: center;
    max-width: 900px;
    min-height: 700px;
    margin: 0 auto;
    padding: 0 1em;
  }
}

.create {
  & > * {
    margin: 0.5em 0;
  }
  .h2 {
    text-align: center;
  }
}
.tuto {
  .keys {
    height: 15em;
    max-width: 100%;
    object-fit: contain;
    display: none;
    &.active {
      display: block;
    }
  }
}

.background-images {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 99vw;
  width: 99svw;
  height: 100%;
  margin: 0;
  padding: 0;
  filter: drop-shadow(5px 5px 3px darken($bg, 5));
  & > * { position: absolute; }
  .edit-img {
    top: 10%;
    right: 5%;
    height: 15em;
    transform: rotate(20deg);
  }
  .hero-img {
    bottom: 5%;
    left: 10%;
    height: 12em;
    animation: margin-float 3s ease-in-out infinite;
  }
  .trees-img {
    bottom: 0;
    right: 0;
    height: 20em;
    z-index: -2;
    opacity: 0.5;
  }
  .corner-img {
    top: 0;
    left: 0;
    height: 14em;
    z-index: -2;
  }

  .terrain {
    bottom: 0;
    left: 0;
    opacity: 0.5;
    width: 100%;
  }

  .star1 {
    top: 1em;
    left: 20%;
    height: 5em;
  }
  .star2 {
    top: 40%;
    right: 20%;
    height: 5.5em;
  }
  .star3 {
    top: 4em;
    left: 30%;
    height: 3em;
  }
}

/* -------------------------------------------------------------------------- */
/*                                USER SETTINGS                               */
/* -------------------------------------------------------------------------- */
.settings-title {
  text-align: center;
  margin: 1em 0;
}

.update-infos {
  width: 30em;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  box-shadow: 3px 4px 5px fade-out($bg, 0.5);
  background-color: darken($bg, 1);
  border: 2px solid darken($bg, 4);
  padding: 0.8em 0.5em;
  border-radius: 0.5em;

  .btn {
    align-self: center;
  }
  input {
    margin-bottom: 0.5em;
  }
  .h1 {
    text-align: center;
  }
  .space {
    height: 0.5em;
  }
}


/* -------------------------------------------------------------------------- */
/*                                 RESPONSIVE                                 */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 700px) { // mobile
  body:has(.navbar.active) { overflow: hidden }
  .burger-btn { display: block }
  .navbar {
    display: none;
    &.active { display: flex }
    height: 100vh;
    height: 100dvh;
    max-height: unset;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    & > * {
      flex-direction: column;
      justify-content: end;
      height: fit-content;
      gap: 1em;
    }
    .logo {
      height: 8em;
    }
    .left-space {
      margin-left: 0;
    }
    
  .drop-down {
    display: none;
  }
  .mobile-drop-down {
    max-height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0.5em;
  }
  .fa-angle-down {
    display: none;
  }
  }
  footer {
    flex-direction: column;
    gap: 2.5em;
    align-items: center;
    .cp {
      order: 1;
      align-items: center;
      .logo {
        width: 5em;
      }
    }
  }
  .background-images {
    opacity: 0.2;
  }
  .level {
    .play { display: none; }
    .infos { display: none; }
    .h3 { min-width: unset; }
    height: 6em;
  }
  .level-card {
    display: flex;
    flex-direction: column;
    .infos {
      position: static;
    }
    .comments {
      border-top: 2px solid darken($bg, 4);
      padding-top: 1em;
    }
  }
}

.game-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-color: fade-out($bg, 0.2);
  backdrop-filter: blur(8px);
  text-align: center;
  &.shown {
    display: flex;
  }
  img {
    width: 10em;
    max-width: 60vw;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 ANIMATIONS                                 */
/* -------------------------------------------------------------------------- */
@keyframes margin-float {
  0% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: 10px;
  }
  100% {
    margin-bottom: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes disapear {
  0% {
    opacity: 1;
    top: 0;
  }
  99% {
    opacity: 0;
    top: -5em;
  }
  100% {
    opacity: 0;
    top: -5em;
  }
}
