@use "sass:color";
@font-face {
  font-family: atma;
  src: url("../asset/fonts/Atma-SemiBold.ttf");
  font-weight: normal;
}
@font-face {
  font-family: atma;
  src: url("../asset/fonts/Atma-Bold.ttf");
  font-weight: bold;
}

$bg: #022e3c;
$white: #F3EFF5;
$accent: #3DD6D0;
$success: #97DB4F;
$fail: #FF8585;

$editor-transition: 250ms;

/* -------------------------------------------------------------------------- */
/*                                    RESET                                   */
/* -------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
  line-height: 1;
  appearance: none;
}

ol, ul {
  list-style: none;
}

textarea {
  resize: none;
}

a {
  color: unset;
  text-decoration: none;
}

select {
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
}


/* -------------------------------------------------------------------------- */
/*                                   CONTENT                                  */
/* -------------------------------------------------------------------------- */
body {
    background-color: $bg;
    color: $white;
    font-family: atma;
    font-size: 1.25rem;
}

.btn {
  padding: 0.8em 2em;
  background-color: $accent;
  color: $bg;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.8em;
  transition: 200ms;
  &:hover { transform: scale(1.05) }
  &.succes-bg {
    background-color: $success;
  }
  &.fail-bg {
    background-color: $fail;
  }
}

.select {
  position: relative;
  // Custom arrow
  .fa-solid {
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 0.5em;
  }
  select {
    padding: 0.8em 1em;
    margin-right: 0.8em;
  }
  color: $bg;
  background-color: $accent;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.8em;
  transition: 200ms;
  option {
    background-color: $white;
    &::selection {
      background-color: $accent;
    }
  }
  &:hover {
    transform: scale(1.05);
  }

}

select {
  &:after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: #97DB4F;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
}

.h1 {
  font-size: 3rem;
  font-weight: bold;
}

.h2 {
  font-size: 1.5rem;
}

.tippy-box { 
  text-align: center;
  padding: 0.3em 0.2em;
}

#game-canvas {
    display: block;
    background-color: rgb(193, 255, 255);
    background: linear-gradient(165deg, rgb(193,255,255) 30%, rgb(61,214,208) 100%);
    &.fullscreen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      height: 100dvh;
    }
    &.windowed {
      aspect-ratio: 16/9;
      width: 100%;
      height: auto;
    }
}

/* -------------------------------------------------------------------------- */
/*                                LEVEL EDITOR                                */
/* -------------------------------------------------------------------------- */
.editor-title {
  text-align: center;
  margin: 0.5em auto 0 auto;
}

.editor {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 45em;
  width: 90%;
  margin: 0 auto;
  transition: width $editor-transition ease-in-out;
  .controls {
    display: flex;
    justify-content: space-around;
    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.modal-button {
  position: absolute;
  top: 0.5em;
  right: 1em;
  background: none;
  cursor: pointer;
  transition:$editor-transition;
}

.blocks-select {
  position: absolute;
  right: 0;
  top: 0;
  display: grid;
  gap: 1em;
  width: 18em;
  height: fit-content;
  min-height: 100%;
  padding: 2.5em 0 1em 1em;
  border-left: 2px solid darken($bg, 4);
  background-color: fade-out($bg, 0.2);
  box-shadow: -3px 0 5px fade-out(darken($bg, 2), 0.1);
  backdrop-filter: blur(8px);
  user-select: none;
  transform: translateX(100%) scaleX(0);
  transition: $editor-transition;
  .blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    img {
      width: 2.5em;
      cursor: pointer;
    }
  }
}

.modal-oppened {
  .modal-button {
    transform: rotate(-180deg);
    right: 16em;
  }
  .blocks-select {
    transform: translateX(0) scaleX(1);
  }
  .editor {
    width: calc(100% - 20em);
    margin: 0 1em 1em;
  }
}

/* -------------------------------------------------------------------------- */
/*                                LEVEL BROWSER                               */
/* -------------------------------------------------------------------------- */
.level {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4em;
  padding: 0 1em;
  border-bottom: 1px solid darken($bg, 2);
  cursor: pointer;
  * {
    display: flex;
    align-items: center;
    gap: 0.3em;
  }
  & > * { gap: 1em; }
  .play { margin-left: 1em; }
  &::before {
    background: radial-gradient(
        300px circle 
        at var(--mouse-x) var(--mouse-y),
        fade-out($white, 0.95), transparent 100%
    );
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
  &:not(:has(.play:hover)):hover::before { opacity: 1; }
  .infos {
    height: 100%;
    padding: 0 1em;
  }
}

.scale {
  --pos: 0%;
  position: relative;
  width: 5em;
  border-radius: 0.2em;
  height: 0.8em;
  border: 1px solid $bg;
  background: linear-gradient(90deg, rgba(151,219,79,1) 0%, rgba(255,133,133,1) 100%);
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: var(--pos);
    transform: translate(-50%, -50%);
    height: 140%;
    width: 0.3em;
    background-color: $bg;
    border: 2px solid $white;
    border-radius: 0.1em;
  }
}


