@font-face {
  font-family: atma;
  src: url("../asset/fonts/Atma-regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: atma;
  src: url("../asset/fonts/Atma-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: atma;
  src: url("../asset/fonts/Atma-Bold.ttf");
  font-weight: bold;
}
/* -------------------------------------------------------------------------- */
/*                                    RESET                                   */
/* -------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
  line-height: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
}

ol, ul {
  list-style: none;
}

textarea {
  resize: none;
}

a {
  color: unset;
  text-decoration: none;
}

select {
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
}

/* -------------------------------------------------------------------------- */
/*                                   CONTENT                                  */
/* -------------------------------------------------------------------------- */
body {
  background-color: #022e3c;
  color: #F3EFF5;
  font-family: atma;
  font-size: 1.25rem;
  overflow-x: hidden;
}
body:has(.modal.active) {
  overflow: hidden;
}

.burger-btn {
  position: fixed;
  z-index: 11;
  top: 1em;
  right: 1rem;
  font-size: 2rem;
  display: none;
  text-shadow: 0.1em 0.1em 0.1em #022e3c;
  color: #F3EFF5;
}

.navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 9vh;
  max-height: 3.5em;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 4px 5px rgba(2, 46, 60, 0.5);
  background-color: rgba(2, 46, 60, 0.8);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-bottom: 2px solid #011f28;
}
.navbar > * {
  display: flex;
  height: 100%;
  align-items: center;
}
.navbar > * > * {
  margin: 0 0.25em;
}
.navbar li {
  flex-shrink: 0;
}
.navbar .logo {
  height: 9vh;
  margin-right: 0.75em;
}
.navbar .btn {
  padding: 0.7em 1.5em;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 1em 0 2em;
}
footer .cookie {
  width: 10rem;
  text-align: center;
}
footer .sitemap h2 {
  margin-bottom: 0.5rem;
}
footer .cp {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
footer .cp .logo {
  width: 3em;
}

.btn {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8em 2em;
  background-color: #3DD6D0;
  color: #022e3c;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.8em;
  transition: 200ms;
}
.btn:hover {
  transform: scale(1.05);
}
.btn.succes-bg {
  background-color: #97DB4F;
}
.btn.fail-bg {
  background-color: #FF8585;
}

input:not([type=submit], [type=range], [type=select]) {
  padding: 0.1em 0.5em;
  border-radius: 0.3em;
  background-color: #F3EFF5;
  color: #022e3c;
  font-weight: 500;
}
input:not([type=submit], [type=range], [type=select])::-moz-placeholder {
  font-weight: 400;
  color: rgba(2, 46, 60, 0.7);
}
input:not([type=submit], [type=range], [type=select])::placeholder {
  font-weight: 400;
  color: rgba(2, 46, 60, 0.7);
}
input:not([type=submit], [type=range], [type=select])[data-state=fail] {
  border: 2px solid #FF8585;
}
input:not([type=submit], [type=range], [type=select])[data-state=success] {
  border: 2px solid #97DB4F;
}

.select {
  position: relative;
  color: #022e3c;
  background-color: #3DD6D0;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.8em;
  transition: 200ms;
}
.select .fa-solid {
  position: absolute;
  top: 50%;
  right: 1em;
  font-size: 0.5em;
  transform: translateY(-50%);
  pointer-events: none;
}
.select select {
  padding: 0.8em 1em;
  margin-right: 0.8em;
}
.select option {
  background-color: #F3EFF5;
}
.select option::-moz-selection {
  background-color: #3DD6D0;
}
.select option::selection {
  background-color: #3DD6D0;
}
.select:hover {
  transform: scale(1.05);
}

.h1 {
  --size: 3rem ;
}

.h2 {
  --size: 2.5rem ;
}

.h3 {
  --size: 1.5rem ;
}

h1, h2, h3 {
  font-size: var(--size);
  font-weight: bold;
}

.link {
  color: #3DD6D0;
  font-weight: 500;
  text-shadow: 0.1em 0.1em 0.1em #02232d;
  transition: transform 200ms ease-in-out, color 200ms ease-in-out;
  display: inline-block;
}
.link:hover {
  transform: scale(1.05);
  text-shadow: 0.15em 0.15em 0.1em #02232d;
  color: #52dad5;
}

.tippy-box {
  text-align: center;
  font-weight: 500;
  padding: 0.3em 0.2em;
}

.scramble {
  position: relative;
  padding: 0 0.2em;
}
.scramble:after {
  content: "";
  position: absolute;
  right: 0;
  top: 10%;
  height: 80%;
  width: 3px;
  border-radius: 3px;
  background-color: #F3EFF5;
  animation: blink 500ms linear infinite;
}

#game-canvas {
  display: block;
  background-color: rgb(144, 240, 238);
  background: linear-gradient(165deg, rgb(193, 255, 255) 30%, rgb(61, 214, 208) 100%);
}
#game-canvas.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
}
#game-canvas.windowed {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(2, 46, 60, 0.5);
}
.modal.active {
  display: block;
}
.modal > *:not(.close) {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  border: 2px solid #011f28;
  border-radius: 0.5em;
  box-shadow: 3px 4px 5px rgba(2, 46, 60, 0.5);
  background-color: rgba(2, 46, 60, 0.8);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.modal .close {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #F3EFF5;
  text-shadow: 2px 2px 4px #022e3c;
  cursor: pointer;
}

.form-modal {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.form-modal .btn {
  align-self: center;
}
.form-modal input {
  margin-bottom: 0.5em;
}

/* -------------------------------------------------------------------------- */
/*                                LEVEL EDITOR                                */
/* -------------------------------------------------------------------------- */
.editor-title {
  text-align: center;
  margin: 0.5em auto 0 auto;
}

.editor {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 45em;
  width: 90%;
  margin: 0 auto;
  transition: width 250ms ease-in-out;
}
.editor .controls {
  display: flex;
  justify-content: space-around;
}
.editor .level-title {
  display: flex;
  align-items: center;
  gap: 1em;
}
.editor .level-title label {
  font-weight: 500;
}
.editor .level-title input {
  width: 100%;
}

.modal-button {
  position: absolute;
  top: 0.5em;
  right: 1em;
  background: none;
  cursor: pointer;
  transition: 250ms;
}

.blocks-select {
  position: absolute;
  right: 0;
  top: 0;
  display: grid;
  gap: 1em;
  width: 18em;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100%;
  padding: 2.5em 0 1em 1em;
  border-left: 2px solid #011f28;
  box-shadow: -3px 0 5px rgba(2, 38, 50, 0.9);
  background-color: rgba(2, 46, 60, 0.8);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform: translateX(100%) scaleX(0);
  transition: 250ms;
}
.blocks-select .blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
}
.blocks-select .blocks img {
  width: 2.5em;
  cursor: pointer;
}

.modal-oppened .modal-button {
  transform: rotate(-180deg);
  right: 16em;
}
.modal-oppened .blocks-select {
  transform: translateX(0) scaleX(1);
}
.modal-oppened .editor {
  width: calc(100% - 20em);
  margin: 0 1em 1em;
}

/* -------------------------------------------------------------------------- */
/*                                LEVEL BROWSER                               */
/* -------------------------------------------------------------------------- */
.level {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4em;
  padding: 0 1em;
  border-bottom: 1px solid #022632;
  cursor: pointer;
}
.level * {
  display: flex;
  align-items: center;
  gap: 0.3em;
}
.level > * {
  gap: 1em;
}
.level .play {
  margin-left: 1em;
}
.level::before {
  background: radial-gradient(300px circle at var(--mouse-x) var(--mouse-y), rgba(243, 239, 245, 0.05), transparent 100%);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.level:not(:has(.play:hover)):hover::before {
  opacity: 1;
}
.level .infos {
  height: 100%;
  padding: 0 1em;
}

.scale {
  --pos: 0%;
  position: relative;
  width: 5em;
  border-radius: 0.2em;
  height: 0.8em;
  border: 1px solid #022e3c;
  background: linear-gradient(90deg, rgb(151, 219, 79) 0%, rgb(255, 133, 133) 100%);
}
.scale.scale-point:after {
  content: "";
  position: absolute;
  top: 50%;
  left: var(--pos);
  transform: translate(-50%, -50%);
  height: 140%;
  width: 0.3em;
  background-color: #022e3c;
  border: 2px solid #F3EFF5;
  border-radius: 0.1em;
}
.scale::-webkit-slider-thumb {
  height: 1.2em;
  width: 0.5em;
  -webkit-appearance: none;
          appearance: none;
  background-color: #022e3c;
  border: 2px solid #F3EFF5;
  border-radius: 0.1em;
}

/* -------------------------------------------------------------------------- */
/*                                LEVEL DETAIL                                */
/* -------------------------------------------------------------------------- */
.level-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  max-width: 900px;
  margin: 1em auto;
}
.level-card .h2, .level-card .h1 {
  text-align: center;
}
.level-card .btn {
  width: -moz-fit-content;
  width: fit-content;
}
.level-card .difficulty {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0 2em 0;
}
.level-card .difficulty .slider {
  display: flex;
  gap: 0.5em;
  margin: 0.5em 0 1em 0;
}
.level-card form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
.level-card form .btn {
  font-weight: 500;
  padding: 0.5em 1em;
}
.level-card .comments article {
  padding: 0.8em 0;
}

/* -------------------------------------------------------------------------- */
/*                                  HOME PAGE                                 */
/* -------------------------------------------------------------------------- */
.hero-container::before {
  content: "";
  display: block;
  height: 100vh;
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.hero h2, .hero h1 {
  filter: drop-shadow(0.08em 0.1em 5px #022e3c);
  text-shadow: 0.25rem 0 1px #022e3c, -0.25rem 0 1px #022e3c, 0 0.25rem 1px #022e3c, 0 -0.25rem 1px #022e3c, 0.125rem 0.125rem 1px #022e3c, -0.125rem -0.125rem 1px #022e3c, 0.125rem -0.125rem 1px #022e3c, -0.125rem 0.125rem 1px #022e3c;
  text-align: center;
}
.hero .h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: clamp(16px, 20vw, 5rem);
  -moz-column-gap: 0.2em;
       column-gap: 0.2em;
}
.hero .h1 img {
  height: 3em;
}
.hero .h2 {
  font-size: clamp(16px, 8vw, var(--size));
  text-align: right;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.hero .h2::before {
  content: "";
  display: block;
  height: calc(10vh - 10vw);
}
.hero .cta {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
  filter: drop-shadow(0.08em 0.1em 5px #022e3c);
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-paralax {
  position: relative;
  z-index: 2;
  min-height: 50vh;
  background-color: #022e3c;
  overflow-x: hidden;
}
.video-paralax .split {
  height: 3px;
  background-color: #011f28;
}
.video-paralax section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  text-align: center;
  max-width: 900px;
  min-height: 700px;
  margin: 0 auto;
  padding: 0 1em;
}

.create > * {
  margin: 0.5em 0;
}
.create .h2 {
  text-align: center;
}

.tuto .keys {
  height: 15em;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: none;
}
.tuto .keys.active {
  display: block;
}

.background-images {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 99vw;
  width: 99svw;
  height: 100%;
  margin: 0;
  padding: 0;
  filter: drop-shadow(5px 5px 3px #011b23);
}
.background-images > * {
  position: absolute;
}
.background-images .edit-img {
  top: 10%;
  right: 5%;
  height: 15em;
  transform: rotate(20deg);
}
.background-images .hero-img {
  bottom: 5%;
  left: 10%;
  height: 12em;
  animation: margin-float 3s ease-in-out infinite;
}
.background-images .trees-img {
  bottom: 0;
  right: 0;
  height: 20em;
  z-index: -2;
  opacity: 0.5;
}
.background-images .corner-img {
  top: 0;
  left: 0;
  height: 14em;
  z-index: -2;
}
.background-images .terrain {
  bottom: 0;
  left: 0;
  opacity: 0.5;
  width: 100%;
}
.background-images .star1 {
  top: 1em;
  left: 20%;
  height: 5em;
}
.background-images .star2 {
  top: 40%;
  right: 20%;
  height: 5.5em;
}
.background-images .star3 {
  top: 4em;
  left: 30%;
  height: 3em;
}

/* -------------------------------------------------------------------------- */
/*                                 RESPONSIVE                                 */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 700px) {
  body:has(.navbar.active) {
    overflow: hidden;
  }
  .burger-btn {
    display: block;
  }
  .navbar {
    display: none;
    height: 100vh;
    height: 100dvh;
    max-height: unset;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .navbar.active {
    display: flex;
  }
  .navbar > * {
    flex-direction: column;
    justify-content: end;
    height: -moz-fit-content;
    height: fit-content;
    gap: 1em;
  }
  .navbar .logo {
    height: 8em;
  }
  footer {
    flex-direction: column;
    gap: 2.5em;
    align-items: center;
  }
  footer .cp {
    order: 1;
    align-items: center;
  }
  footer .cp .logo {
    width: 5em;
  }
  .background-images {
    opacity: 0.2;
  }
}
/* -------------------------------------------------------------------------- */
/*                                 ANIMATIONS                                 */
/* -------------------------------------------------------------------------- */
@keyframes margin-float {
  0% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: 10px;
  }
  100% {
    margin-bottom: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */